* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
html {
  scroll-behavior: smooth;
} */

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(20, 31, 50);
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.line {
  height: 0.1rem;
  width: 100%;
  background-color: rgb(205, 213, 234);
}

/* --- Icons --- */
.fa-github,
.fa-desktop,
.fa-linkedin-in {
  cursor: pointer;
  transition: all 0.3s;
}

.fa-github:hover,
.fa-desktop:hover,
.fa-linkedin-in:hover {
  color: rgb(93, 231, 180);
}
