header {
  height: 88vh;
  padding: 6rem 9rem;
  background-color: rgb(20, 31, 50);
}

.header-heading-1 {
  color: rgb(93, 231, 180);
  margin-bottom: 1rem;
}

.header-heading-2 {
  color: rgb(205, 213, 234);
  margin-bottom: 0.7rem;
}

.header-heading-3 {
  color: rgb(138, 145, 147);
  margin-bottom: 1rem;
}

.header-heading-4 {
  color: rgb(138, 145, 147);
  width: 45rem;
  width: 60%;
  font-size: 1.2rem;
  font-weight: 450;
  line-height: 2.8rem;
}

.header-heading-4 span {
  color: rgb(93, 231, 180);
}

h2 {
  font-size: 4.5rem;
}

h6 {
  font-size: 1rem;
}

i {
  font-size: 2rem;
  color: rgb(205, 213, 234);
}

.socials-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  left: 3%;
}

.socials-container ul li {
  list-style: none;
  margin-bottom: 0.9rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.socials-container ul li:nth-child(2) {
  margin-bottom: 1.2rem;
}

.vertical-line {
  height: 4rem;
  width: 0.1rem;
  background-color: rgb(205, 213, 234);
}

.email-fixed {
  display: flex;
  align-items: center;
  vertical-align: middle;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  right: 3%;
}

.email-fixed span {
  color: rgb(205, 213, 234);
  font-size: 0.9rem;
  writing-mode: vertical-rl;
  margin-bottom: 0.7rem;
}

.scroll-down-container {
  position: absolute;
  left: 50%;
  bottom: 4%;
}

.scroll-down-container a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.scroll-down-container span {
  color: white;
  margin-top: 0.4rem;
}

.bounce {
  -moz-animation: bounce 2.5s infinite;
  -webkit-animation: bounce 2.5s infinite;
  animation: bounce 2.5s infinite;
}

/* ---------- Scroll Down ---------- */
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

/* --- Media Queries --- */
@media only screen and (max-width: 1150px) {
  header {
    height: 88vh;
    /* padding: 6rem 9rem; */
    padding: 4rem 7rem;
    background-color: rgb(20, 31, 50);
  }

  .header-heading-2,
  .header-heading-3 {
    font-size: 3.5rem;
  }

  .header-heading-4 {
    color: rgb(138, 145, 147);
    width: 45rem;
    width: 100%;
    font-size: 1.2rem;
    font-weight: 450;
    line-height: 2.8rem;
  }
}

@media only screen and (max-width: 700px) {
  header {
    height: 88vh;
    padding: 2.5rem 5rem;
    background-color: rgb(20, 31, 50);
  }

  .header-heading-2,
  .header-heading-3 {
    font-size: 3rem;
  }

  .header-heading-4 {
    font-size: 1rem;
  }

  .socials-container,
  .email-fixed {
    display: none;
  }

  .scroll-down-container {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  header {
    height: 88vh;
    /* padding: 2rem 5rem; */
    padding: 1rem 2rem;
    background-color: rgb(20, 31, 50);
  }

  .header-heading-2,
  .header-heading-3 {
    font-size: 2.5rem;
  }

  .header-heading-4 {
    font-size: 1rem;
    line-height: 2rem;
  }

  .scroll-down-container {
    display: none;
  }
}