.projects-container {
  padding: 6rem;
}

.projects-heading-container {
  display: flex;
  align-items: center;
}

.projects-heading {
  white-space: nowrap;
  margin-right: 1rem;
}

.projects-content-container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.projects-picture {
  background-color: lightgreen;
}

.projects-desc ul li {
  list-style: none;
}
