/* --- Margins --- */
.mr-1 {
  margin-right: 1rem;
}

.ml-1 {
  margin-left: 1rem;
}
/* --------------- */

.projects-container {
  padding: 8rem;
  background-color: rgb(20, 31, 50);
}

.projects-heading-container {
  display: flex;
  align-items: center;
  margin-bottom: 2.5rem;
  color: rgb(205, 213, 234);
}

.projects-heading {
  white-space: nowrap;
  margin-right: 1rem;
}

.projects-heading span {
  color: rgb(93, 231, 180);
}

.projects-grid-1,
.projects-grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  margin-bottom: 3rem;
}

.projects-picture-1 img,
.projects-picture-2 img {
  width: 100%;
}

.projects-picture-query {
  display: none;
}

.projects-list-1 ul,
.projects-list-2 ul {
  display: flex;
  flex-wrap: wrap;
}

.projects-list-1 ul li,
.projects-list-2 ul li {
  list-style: none;
  color: rgb(205, 213, 234);
}

.projects-list-1 ul li {
  margin-left: 1rem;
  margin-bottom: 0.5rem;
  font-weight: 750;
}

.projects-list-2 ul li {
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  font-weight: 750;
}

.projects-list-1 ul li:last-child {
  margin-right: 0;
}

.project-icons-container {
  text-align: end;
}

.projects-list-1 {
  display: flex;
  justify-content: flex-end;
}

/* --- Headings & Paragraphs --- */
.project-title-1,
.project-title-2,
.project-paragraph-1 {
  text-align: end;
  color: rgb(205, 213, 234);
}

.project-title-3,
.project-title-4,
.project-paragraph-2 {
  color: rgb(205, 213, 234);
}

.project-title-1,
.project-title-3 {
  color: rgb(93, 231, 180);
}

.project-paragraph-1,
.project-paragraph-2 {
  line-height: 1.5rem;
}

.project-title-2,
.project-paragraph-1,
.projects-list-1,
.project-title-4,
.project-paragraph-2,
.projects-list-2 {
  margin-bottom: 1rem;
}

.project-title-1,
.project-title-3 {
  margin-bottom: 0.4rem;
}

.project-title-2,
.project-title-4 {
  font-size: 3rem;
}

/* --- Media Queries --- */
@media only screen and (max-width: 600px) {
  .projects-container {
    padding: 7rem 2rem;
    /* padding: 8rem;
    background-color: rgb(20, 31, 50); */
  }
}

@media only screen and (max-width: 900px) {
  .projects-grid-1,
  .projects-grid-2 {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 3rem;
  }

  .project-title-1,
  .project-title-2,
  .project-paragraph-1 {
    text-align: start;
  }

  .projects-list-1 ul li {
    margin-left: 0;
    margin-right: 1rem;
  }

  .project-icons-container {
    text-align: start;
  }

  .projects-list-1 {
    display: flex;
    justify-content: flex-start;
  }

  .projects-picture-1 {
    display: none;
  }

  .projects-picture-query {
    display: block;
  }

  .projects-picture-query img {
    width: 100%;
  }
}
