nav {
  height: 12vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 2rem;
  background-color: rgb(20, 31, 50);
}

.logo-container {
  color: rgb(20, 31, 50);
}

.nav-items-container ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-items-container ul li {
  margin-right: 2.3rem;
  cursor: pointer;
}

.nav-items-container ul li:last-child {
  border: 1px solid #5de7b4;
  background-color: rgb(20, 31, 50);
  padding: 0.5rem 1rem;
  color: rgb(93, 231, 180);
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.3s;
}

.nav-items-container ul li:last-child:hover {
  filter: brightness(200%);
}

.nav-items-container li span {
  color: rgb(93, 231, 180);
}

.nav-items-container li a {
  text-decoration: none;
  color: rgb(205, 213, 234);
  font-weight: 600;
  margin-left: 0.3rem;
}

.hamburger-container {
  display: none;
}

/* --- Media Queries --- */
@media only screen and (max-width: 700px) {
  .nav-items-container {
    display: none;
  }

  .hamburger-container {
    display: block;
  }
}